.order-content-container{ 
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: auto;
    gap: 18px;
    grid-template-areas: 
       "A A A B B B C C"
       "D D D D D D D D"
       "D D D D D D D D"
       "D D D D D D D D"
       "D D D D D D D D"
    ;
}

.order-item{ 
    border-radius: var(--form-corner-radius);
    background-color: white;
}    

.A{ grid-area: A;}
.B{ grid-area: B;}
.C{ grid-area: C;}
.D{ grid-area: D;}