/* Inventory css  */
.inventory-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.inventory-content {
  flex-grow: 1;
  overflow-y: auto;
}

.inventory-content-container { 
    width: 100%;
    height: 90.8%;
    display: grid;
    /* border: 1px solid red; */
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 18px;
    grid-template-areas: 
        "A A A A B B B B"
        "C C C C C C C C"
        "C C C C C C C C"
        "C C C C C C C C"
        "C C C C C C C C";
}

.inventory-item { 
    border-radius: var(--form-corner-radius);
    background-color: white;
}    

.inventory-item-A { 
    grid-area: A;
    padding: 11px 15px;
    background-color: var(--primary-color);
    color: white !important;
}

.inventory-item-B { 
    grid-area: B;
    padding: 11px 15px;
}

.inventory-item-C { 
    grid-area: C;
    padding: 11px 15px;
}


.inventory-content-container-create-inventory{ 
    /* border: 1px solid red; */
    width: 100%;
    margin-bottom: var(--margin-small);
    display: flex;
    flex-direction: row-reverse;
}




