.dashboard-content-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 18px;
    grid-template-areas:
        "A A B B C C C"
        "D D E E F F F"
        "D D G G F F F"
        "H H H H F F F"
        "H H H H F F F";
}

.dashboard-item {
    border-radius: var(--form-corner-radius);
    background-color: white;
}

.dashboard-item-A {
    grid-area: A;
    padding: 11px 15px;
}

.dashboard-item-B {
    grid-area: B;
    padding: 11px 15px;
}

.dashboard-item-C {
    grid-area: C;
    padding: 11px 15px;
}

.dashboard-item-D {
    grid-area: D;
    padding: 21px 20px;
}

.dashboard-item-E {
    grid-area: E;
    background-color: var(--primary-color);
    color: white !important;
    padding: 11px 15px;
}

.dashboard-item-F {
    grid-area: F;
}

.dashboard-item-G {
    grid-area: G;
    padding: 11px 15px;
}

.dashboard-item-H {
    grid-area: H;
    padding: 11px 15px;
}
