
.login-container{ 
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* border: 1px solid magenta; */
}
.auth-header{ 
    padding: 20px 40px; 
    flex-shrink: 0;
    background: #fff;
}
.auth-body{ 
   flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}
.auth-form{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 34px 44px;
    gap: 2rem;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: var(--form-corner-radius); 
}
.auth-form-header{ 
    display: flex;
    flex-direction: column;
    align-items: center;

}
.auth-form form{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    gap: 1rem;
}
.input-field{ 
    width: 375px;
    height: 32px;
    background-color: var(--input-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.icon{ 
    flex-shrink: 0;
}
.input-field input{ 
    border: none;
    outline: none;
    height: 100%;
    background-color: transparent;
    flex-grow: 1;
    padding: 10px;
    border-radius: var(--input-corner-radius);
}

.auth-button{ 
    border: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: var(--form-corner-radius);
    /* padding: 16px 17px; */
    width: 180px;
    height: 58px;
    margin-top: 20px;
    cursor: pointer;
}
.misselenious{ 
    width: 100%;
    text-align: right;
}


/* logout */
.logout-button {
    display: flex;
    align-items: center;

    background-color: transparent;
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);
 
    font-size: 18px;
    padding: 10px;
    gap: 12px;
    color: white;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.logout-button:hover{ 
    background-color: var(--primary-color-hover);
}









